@import 'settings';
@import 'foundation-emails';


.imageBackground{
    background-image: url("http://i68.tinypic.com/34ig086.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.inner {
  background-color: $black;
  width: $global-width;
}

.blackBackground {
  background-color: $black;
  width: 680px;
}
