@import 'settings';
@import 'foundation-emails';


.inner {
  background-color: black;
  width: 100%;

}

.blackBackground {
  background-color: $black;
  width: inherit;
}

.container {
  width: $global-width;
}

.background{
    background-image: url("http://i65.tinypic.com/4hp2er.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.header-text {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    vertical-align: sub;
}

.sub-header-text {
    font-size: 10px;
    font-weight: bold;
    margin-top: -10px;
}

.text {
    font-size: 10px;
    font-weight: bold;
    margin-top: 20px;
}

.button-center-text {
    margin-bottom: 0px !important;
}

//.button/icons {
//    display: inline;
//}
.footer-text {
    font-size: 10px;
    font-weight: bold;
    text-align: left;
}
